@import '../../styles/variables.css';

.root {
  width: 100%;
  max-width: calc(4 * var(--cell-length) + 3 * var(--gutter));

  color: var(--color-grey);

  font-family: var(--font-family-nunito);
  font-weight: var(--font-weight-bold);
}

.normal {
  max-width: calc(7 * var(--cell-length) + 6 * var(--gutter));

  @media (min-width: 700px) {
    font-size: var(--size-32);
    line-height: var(--size-44);
  }
}

.large {
  width: calc(3 * var(--cell-length) + 2 * var(--gutter));
  padding: var(--size-20);

  font-size: var(--size-32);
  line-height: var(--size-44);
  text-align: center;

  @media (min-width: 700px) {
    width: 100%;
    max-width: calc(11 * var(--cell-length) + 10 * var(--gutter));
    padding: var(--size-132) var(--size-20);

    font-size: var(--size-44);
    line-height: var(--size-56);
  }
}
