@import '../../styles/variables.css';

.root {
  margin: 0 var(--size-20);
  @media (min-width: 700px) {
    max-width: calc(13 * var(--cell-length) + 14 * var(--gutter));
    margin: 0 auto;
  }
}

.bold {
  font-weight: var(--font-weight-bold);
}

.align {
  text-align: left;
}

.button {
  position: absolute;

  display: none;
  &.sponsership {
    bottom: -140px;

    transform: rotate(-5deg);

    @media (min-width: 700px) {
      bottom: -140px;

      transform: rotate(-5deg);
    }
  }

  &.volunteering {
    bottom: -120px;

    transform: rotate(7deg);

    @media (min-width: 700px) {
      bottom: -140px;

      transform: rotate(5deg);
    }
  }
}

.coloredWrapper {
  padding: var(--size-76);

  &.paleRed {
    background: var(--color-pale-red);
  }

  &.orange {
    background: var(--color-bright-orange);
  }

  &.green {
    background: rgb(214, 217, 62, 0.3);
  }

  @media (min-width: 700px) {
    width: calc(9 * var(--cell-length) + 8 * var(--gutter));
    padding: 0;

    border-radius: var(--size-8);
  }
}

.coloredSection {
  padding: 0 var(--size-20);

  color: white;

  @media (min-width: 700px) {
    padding: 0;
  }
}

.ctaSection {
  position: relative;
}

.textBlock {
  position: relative;

  max-width: calc(7 * var(--cell-length) + 6 * var(--gutter));
}

.smallSpacing {
  margin-bottom: var(--size-32);
}

.mediumSpacing {
  margin-bottom: var(--size-76);
}

.xlargeSpacing {
  position: relative;

  padding: var(--size-20);
  margin-bottom: var(--size-100);
}

.xxlargeSpacing {
  margin-bottom: var(--size-56);

  @media (min-width: 700px) {
    margin-bottom: var(--size-132);
  }
}

.image {
  position: absolute;

  width: 412px;
  overflow: hidden;
  padding: var(--size-8);

  &.volunteering {
    transform: rotate(-9deg);

    top: -163px;
    right: -451px;
  }

  &.partners {
    transform: rotate(5deg);
    top: 227px;
    left: -510px;
  }

  @media (min-width: 700px) {
    padding: var(--size-20);
  }
}

.separator {
  margin: var(--size-32) auto;
}

.email a {
  color: var(--color-white);

  text-decoration: none;
}
