@import '../../styles/variables.css';

.root {
  color: var(--color-grey);
  font-size: var(--size-24);
  line-height: var(--size-32);
  font-family: var(--font-family-nunito);
  width: 100%;
  max-width: calc(7 * var(--cell-length) + 6 * var(--gutter));
  margin: 0 auto;
  overflow: hidden;
}
