@import '../../styles/variables.css';

.textBlock {
  margin: var(--size-20);

  @media (--desktop-breakpoint) {
    margin: var(--size-32);
  }
}

.textBlock a {
  margin-left: 20px;

  color: var(--color-red);

  text-decoration: none;
}

.bold {
  position: relative;

  display: flex;
  flex-direction: row;

  font-weight: var(--font-weight-bold);
}

.section {
  margin: 32px;
}

.text.bold {
  margin-bottom: var(--size-32);

  font-weight: var(--font-weight-bold);
}

.logo {
  margin-right: 20px;
}
