@import '../../styles/variables.css';

.textBlock {
  font-size: var(--size-24);
  line-height: var(--size-32);
  position: relative;

  margin: var(--size-20) 0;

  @media (--desktop-breakpoint) {
    margin: var(--size-32);
  }
}
.textBlock:first-child {
  margin-bottom: var(--size-24);
}

.textBlock a {
  color: var(--color-red);

  text-decoration: none;
}

.bold {
  position: relative;

  display: flex;
  flex-direction: row;

  font-weight: var(--font-weight-bold);
}

.section {
  margin: 32px;
}

.text.bold {
  margin-bottom: var(--size-32);

  font-weight: var(--font-weight-bold);
}

.logo {
  position: relative;

  margin-right: 20px;

  @media (min-width: 700px) {
    position: absolute;
    top: 4px;
    left: -50px;
    z-index: 5;

    overflow: visible;
  }
}
