:root {
  --color-red: #c51936;
  --color-grey: #3f4446;
  --color-yellow: #db8d35;
  --color-blue: #7fb0e1;
  --color-green: #06d6a0;
  --color-white: #ffffff;
  --color-background: #fcfcfc;
  --color-light-grey: #a8b8b9;
  --color-bright-orange: #db8d35;

  --size-4: 4px;
  --size-8: 8px;
  --size-12: 12px;
  --size-20: 20px;
  --size-24: 24px;
  --size-32: 32px;
  --size-44: 44px;
  --size-56: 56px;
  --size-76: 76px;
  --size-100: 100px;
  --size-132: 132px;

  --font-family-nunito: 'Nunito', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 800;

  --gutter: 24px;
  --cell-length: 76px;
  --grid-size: 1440px;

  @custom-media --tablet-breakpoint (min-width: 700px);
  @custom-media --desktop-breakpoint (min-width: 1024px);
}
