@import '../../styles/breakpoints.css';
@import '../../styles/variables.css';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: var(--grid-size);
  margin-right: auto;
  margin-left: auto;

  box-sizing: content-box;
  padding: 32px;

  @include Breakpoint-desktopOnly {
    margin: 0 auto;
  }

  @include Breakpoint-tabletOnly {
    margin: 0 auto;
  }

  @include Breakpoint-mobileOnly {
    margin: 0 auto;
  }
}
