@import '../../styles/variables.css';

.root {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: content-box;

  padding: 0 var(--size-20);
  margin: 0 auto;
  overflow-x: hidden;
}
