@import '../styles/variables.css';

.textBlock {
  margin-bottom: var(--size-32);
}

.bold {
  font-weight: var(--font-weight-bold);
}

.section {
  margin-bottom: var(--size-32);
}

.text.bold {
  margin-bottom: var(--size-32);
}

.imageSection {
  position: relative;

  display: flex;
  justify-content: center;
  max-width: calc(7 * var(--cell-length) + 6 * var(--gutter));
  margin-top: var(--size-100);
}

.logo {
  position: absolute;
  top: -79px;
  left: -97px;
  z-index: 100;
}

.gif {
  width: 10px !important;
}

.kid {
  width: calc(7 * var(--cell-length) + 6 * var(--gutter));
}
