@import '../styles/variables.css';

.textBlock {
  @media (min-width: 700px) {
    max-width: calc(7 * var(--cell-length) + 6 * var(--gutter));
    margin-bottom: var(--size-32);
  }
}

.bold {
  font-weight: var(--font-weight-bold);
}

.coloredText {
  font-weight: var(--font-weight-bold);

  &.yellow {
    color: var(--color-bright-yellow);
  }

  &.orange {
    color: var(--color-bright-orange);
  }

  &.blue {
    color: var(--color-blue);
  }

  &.red {
    color: var(--color-strong-red);
  }
}

.ctaSection {
  position: relative;

  width: calc(4 * var(--cell-length) + 3 * var(--gutter));
  padding: 0 var(--size-20);
  margin-bottom: var(--size-132);

  @media (min-width: 700px) {
    width: calc(9 * var(--cell-length) + 8 * var(--gutter));
    margin: 0 auto;
  }
}

.emailAddress {
  color: var(--color-yellow);

  text-decoration: none;
}

.textBlockImage {
  margin: var(--size-32 auto);

  @media (min-width: 700px) {
    width: calc(9 * var(--cell-length) + 8 * var(--gutter));
    margin: auto;
  }
}

.section1 {

  padding: var(--size-12);
  overflow: visible;

  transform: rotate(-9deg);

  @media (min-width: 700px) {
    position: absolute;
    top: 276px;
    right: -112px;

    width: 424px;

    background: rgba(0, 0, 0, 0.01);
  }
}

.section1:before {
  background: rgba(0, 0, 0, 0.01);
  filter: blur(44px);
}

.section2 {
  width: 276px;

  transform: rotate(5deg);

  @media (min-width: 700px) {
    position: absolute;
    top: 660px;
    left: -112px;

    width: 424px;

    padding: var(--size-12);
  }
}

.cta {
  position: absolute;
  right: 20px;
  bottom: -90px;

  width: 210px;
  overflow: hidden;

  transform: rotate(-20deg);

  @media (min-width: 700px) {
    top: -112px;
    right: -330px;

    width: 424px;

    padding: var(--size-12);
  }
}

.imageSection {
  position: relative;

  display: flex;
  justify-content: center;

  width: calc(4 * var(--cell-length) + 4 * var(--gutter));
  margin-top: var(--size-32);
  margin-bottom: var(--size-32);

  @media (min-width: 700px) {
    width: calc(7 * var(--cell-length) + 6 * var(--gutter));
    margin-top: var(--size-100);
  }
}

.kid {
  width: calc(4 * var(--cell-length) + 4 * var(--gutter));
  @media (min-width: 700px) {
    width: calc(7 * var(--cell-length) + 6 * var(--gutter));
  }
}

.section {
  &.normal {
    margin-bottom: var(--size-32);
  }

  &.xl {
    margin-bottom: var(--size-76);
  }

  &.xxl {
    margin-bottom: var(--size-100);
  }
}

.text.bold {
  margin-bottom: var(--size-32);
}
