@import '../../styles/variables.css';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(11 * var(--cell-length) + 10 * var(--gutter));
  margin-bottom: 132px;

  color: var(--color-grey);

  font-family: var(--font-family-nunito);
  font-size: var(--size-20);
}

.navbarLinks {
  display: flex;
  flex-direction: row;

  font-weight: var(--font-weight-bold);
}

.navbarLinks :hover {
  color: #a8b8b9;
}

.navbarLinks a {
  color: inherit;
  cursor: pointer;

  text-decoration: none;
}

.separator {
  margin-right: var(--size-8);
  margin-left: var(--size-8);
}

.linkPt {
  margin-right: var(--size-8);
}

.linkEn {
  margin-right: var(--size-56);
  margin-left: var(--size-8);
}
