@import '../../styles/variables.css';

.header {
  color: var(--color-grey);
  width: calc(11 * var(--cell-length) + 10 * var(--gutter));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--size-20);
  font-family: var(--font-family-nunito);
  margin-bottom: 132px;
}

.navbarLinks {
  font-weight: var(--font-weight-bold);
  display: flex;
  flex-direction: row;
}

.navbarLinks :hover {
  color: #a8b8b9;
}

.navbarLinks a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.separator {
  margin-left: var(--size-8);
  margin-right: var(--size-8);
}

.linkPt {
  margin-right: var(--size-8);
}

.linkEn {
  margin-left: var(--size-8);
  margin-right: var(--size-56);
}
