@import '../../styles/variables.css';

.blue {
  color: var(--color-blue);

  font-weight: var(--font-weight-bold);
}

.mobileWrapper {
  position: fixed;
  top: 0;
  z-index: 5;

  width: 100%;
  @media (min-width: 700px) {
    display: none;
  }
}

.blue {
  color: var(--color-blue);
}

.helpUs {
  color: var(--color-bright-orange);

  font-weight: var(--font-weight-bold);
}

.header {
  display: hide;
  width: 100%;
  max-width: calc(4 * var(--cell-length) + 3 * var(--gutter));
  margin-top: var(--size-32);
  margin-bottom: var(--size-132);

  font-family: var(--font-family-nunito);
  font-size: var(--size-24);
  line-height: var(--size-32);

  @media (min-width: 700px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: calc(11 * var(--cell-length) + 10 * var(--gutter));
    margin: 0 auto;
  }
}

.hide {
  display: none;

  @media (min-width: 700px) {
    display: block;
    max-width: calc(11 * var(--cell-length) + 10 * var(--gutter));
  }
}

.logo {
  width: var(--size-76);
  @media (min-width: 700px) {
    width: var(--size-132);
  }
}

.navbarLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  & a {
    color: inherit;
    cursor: pointer;

    text-decoration: none;
  }

  & :hover {
    color: var(--color-dark-grayish-blue);

    transform: rotate(-5deg);
  }

  &.left a {
    color: var(--color-light-grey);
  }

  &.right a {
    color: var(--color-light-grey);
  }
}

.marginRigth {
  margin-right: var(--size-56);
}

.separator {
  margin-right: var(--size-8);
  margin-left: var(--size-8);

  color: var(--color-dark-grayish-blue);

  font-size: var(--size-24);
  line-height: var(--size-32);
}

.intlLinks a {
  color: var(--color-dark-grayish-blue);

  font-size: var(--size-24);
  font-weight: var(--font-weight-bold);
  line-height: var(--size-32);

  & :hover {
    transform: rotate(-5deg);
  }

  &.fade {
    color: var(--color-light-grey);

    font-weight: var(--font-weight-bold);
  }

  @media (min-width: 700px) {
    font-size: var(--size-24);
  }
}
