@import '../../styles/variables.css';

.root {
  font-size: var(--size-20);
  line-height: var(--size-28);
  font-family: var(--font-family-nunito);
  width: 100%;
  max-width: calc(7 * var(--cell-length) + 6 * var(--gutter));
  margin: 0 auto;
  overflow: hidden;
}

.textBlock {
  margin-bottom: var(--size-36);
}

.bold {
  font-weight: var(--font-weight-bold);
}

.section {
  margin: 100px;
  background-color: pink;
}

.text.bold {
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--size-36);
}
