@import '../../styles/variables.css';

.textBlock {
  margin-bottom: var(--size-32);

  color: var(--color-blue);

  font-size: var(--size-20);
  line-height: var(--size-24);

  @media (--desktop-breakpoint) {
    font-size: var(--size-24);
    line-height: var(--size-32);
  }
}

.bold {
  color: var(--color-grey);

  font-weight: var(--font-weight-bold);
}

.section {
  margin: 32px;
}

.text.bold {
  margin-bottom: var(--size-32);

  font-weight: var(--font-weight-bold);
}

.bankDetail {
  margin: var(--size-8) 0;

  font-weight: var(--font-weight-bold);
}
