@import '../../styles/variables.css';

.bold {
  font-weight: var(--font-weight-bold);
}

.activitiesImageWrapper {
  position: relative;

  margin-right: calc(2 * var(--cell-length) + 1 * var(--gutter));

  @media (min-width: 700px) {
    margin-left: calc(2 * var(--cell-length) + 1 * var(--gutter));
  }
}

.coloredText {
  font-weight: var(--font-weight-bold);

  &.yellow {
    color: var(--color-bright-yellow);
  }

  &.orange {
    color: var(--color-bright-orange);
  }

  &.blue {
    color: var(--color-blue);
  }

  &.red {
    color: var(--color-strong-red);
  }
}

.button {
  position: absolute;

  &.sponsership {
    bottom: -140px;

    @media (min-width: 700px) {
      bottom: -140px;
    }
  }

  &.volunteering {
    bottom: -120px;

    @media (min-width: 700px) {
      bottom: -140px;
    }
  }
}

.abtouUsTitle {
  @media (min-width: 700px) {
    width: calc(5 * var(--cell-length) + 4 * var(--gutter));
  }
}

.widtherSection {
  position: relative;

  width: 100%;
  padding: 0 var(--size-20);
  margin: var(--size-132);

  &.reverse {
    @media (min-width: 700px) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-left: calc(1 * var(--cell-length) + 4 * var(--gutter));
    }

    @media (min-width: 700px) {
    }
  }
}

.coloredWrapper {
  padding: var(--size-76) var(--size-20);
  margin: 0 calc(-1 * var(--size-20));

  &.paleRed {
    background: var(--color-pale-red);
  }

  &.orange {
    background: var(--color-bright-orange);
  }

  @media (min-width: 700px) {
    width: calc(9 * var(--cell-length) + 8 * var(--gutter));
    padding: 0;

    border-radius: var(--size-8);
  }
}

.ctaSection {
  position: relative;

  width: calc(4 * var(--cell-length) + 3 * var(--gutter));
  padding: 0 var(--size-20);
  margin-right: var(--size-20);
  margin-bottom: var(--size-132);
  margin-left: var(--size-20);

  @media (min-width: 700px) {
    width: calc(9 * var(--cell-length) + 8 * var(--gutter));
    margin: 0 auto;
  }
}

.cta {
  position: absolute;
  right: 20px;

  bottom: -90px;

  width: 210px;
  overflow: hidden;

  @media (min-width: 700px) {
    top: -112px;
    right: -330px;

    width: 424px;

    padding: var(--size-12);
  }
}

.coloredSection {
  color: white;
}

.activitiesSection {
  position: relative;

  display: flex;
  flex-direction: row-reverse;
  width: calc(11 * var(--cell-length) + 10 * var(--gutter));
}

.textBlock {
  position: relative;

  width: 100%;
  max-width: calc(7 * var(--cell-length) + 6 * var(--gutter));
}

.smallSpacing {
  margin-bottom: var(--size-32);
}

.mediumSpacing {
  @media (min-width: 700px) {
    margin-bottom: var(--size-76);
  }
}

.xlargeSpacing {
  position: relative;

  margin-bottom: var(--size-100);
}

.xxlargeSpacing {
  margin-bottom: var(--size-32);

  @media (min-width: 700px) {
    margin-bottom: var(--size-132);
  }
}

.xxxlargeSpacing {
  position: relative;

  margin-bottom: var(--size-32);

  @media (min-width: 700px) {
    margin-bottom: var(--size-132);
  }
}

.educationImage {
  display: none;

  @media (min-width: 700px) {
    position: absolute;
    top: -232px;
    right: -570px;

    display: block;

    width: 276px;
  }
}

.educationImageTwo {
  width: 276px;

  padding: var(--size-12);

  overflow: hidden;

  @media (min-width: 700px) {
    position: absolute;
    top: -28px;
    right: -691px;

    display: block;
    width: 371px;
    overflow: hidden;
  }
}

.activitiesImage {
  display: none;

  @media (min-width: 700px) {
    position: absolute;
    top: -15px;
    left: 200px;
    z-index: 3;

    display: block;

    width: 210px;

    padding: var(--size-12);
  }
}

.activitiesImageTwo {
  width: 276px;

  padding: var(--size-12);
  overflow: hidden;

  transform: rotate(-35deg);

  @media (min-width: 700px) {
    position: absolute;
    top: 58px;
    left: -50px;
    z-index: 2;

    display: block;
    width: 371px;

    overflow: hidden;

    transform: rotate(0deg);
  }
}

.activitiesImageThree {
  display: none;

  padding: var(--size-12);

  @media (min-width: 700px) {
    position: absolute;
    top: 362px;
    left: 25px;
    z-index: 1;

    display: block;
    width: 276px;

    overflow: hidden;
  }
}

.activitiesImageFour {
  display: none;

  padding: var(--size-12);

  @media (min-width: 700px) {
    position: absolute;
    bottom: -46px;
    left: 150px;

    z-index: 0;

    display: block;
    width: 412px;
    width: 210px;

    overflow: hidden;
  }
}
.feedingImageWrapper {
  position: relative;

  @media (min-width: 700px) {
    margin-left: 300px;
  }
}

.feedingImage {
  width: 400px;

  padding: var(--size-12);

  margin-top: var(--size-100);
  overflow: hidden;

  @media (min-width: 700px) {
    position: absolute;
    right: 240px;

    bottom: -40px;

    width: 400px;

    margin-top: 0;
  }
}

.healthImageWrapper {
  position: relative;

  margin-right: calc(2 * var(--cell-length) + 1 * var(--gutter));
}
.healthImage {
  width: 276px;

  padding: var(--size-12);
  margin-bottom: 32px;
  overflow: hidden;

  @media (min-width: 700px) {
    position: absolute;
    top: -87px;
    left: 240px;

    width: 276px;
  }
}

.healthImageTwo {
  display: none;
  width: 412px;

  padding: var(--size-12);
  overflow: hidden;

  @media (min-width: 700px) {
    position: absolute;
    top: 180px;
    left: 220px;

    display: block;
    width: 276px;
  }
}

.clothingImageWrapper {
  position: relative;

  @media (min-width: 700px) {
    margin-left: calc(2 * var(--cell-length) + 1 * var(--gutter));
  }
}
.clothingImage {
  right: -22px;

  width: 276px;
  padding: var(--size-12);
  margin-top: var(--size-32);
  margin-left: var(--size-44);
  overflow: hidden;

  @media (min-width: 700px) {
    position: absolute;
    right: 240px;
    bottom: 20px;

    width: 371px;
  }
}

.clothingImageTwo {
  display: none;

  @media (min-width: 700px) {
    position: absolute;
    right: 220px;

    bottom: -150px;

    display: block;
    width: 276px;
    padding: var(--size-12);
  }
}
.familySupportImageWrapper {
  position: relative;

  margin-bottom: 250px;
  margin-left: calc(1 * var(--cell-length) + 1 * var(--gutter));
}

.familySupportImage {
  position: absolute;
  top: 14px;
  left: -110px;

  width: 371px;

  padding: var(--size-12);
  overflow: hidden;

  @media (min-width: 700px) {
    position: absolute;
    top: -78px;
    left: -25px;
    z-index: 1;

    display: block;

    width: 371px;
  }
}

.familySupportImageTwo {
  display: none;

  @media (min-width: 700px) {
    position: absolute;
    top: 268px;
    left: -10px;

    z-index: 0;

    display: block;
    width: 276px;
    padding: var(--size-12);
  }
}

.microCreditimageWrapper {
  position: relative;

  margin-top: var(--size-12);
  margin-bottom: 500px;

  @media (min-width: 700px) {
    margin-bottom: 0;
    margin-left: calc(3 * var(--cell-length) + 2 * var(--gutter));
  }
}

.microCreditImage {
  position: absolute;

  right: -36px;

  width: 302px;

  padding: var(--size-12);
  overflow: hidden;

  @media (min-width: 700px) {
    position: absolute;
    right: 240px;

    bottom: 0px;

    width: 371px;
  }
}

.ctaImage {
  position: absolute;
  right: 0px;

  bottom: -77px;

  width: 210px;

  padding: var(--size-12);
  overflow: hidden;

  transform: rotate(-35deg);

  @media (min-width: 700px) {
    display: none;
  }
}
